# Ignore Python virtual environments
.venv/
venv/
ENV/
env/

# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Model files
*.pkl
*.h5
*.joblib

# OS files
.DS_Store
Thumbs.db

# Git ignore files
*.swp
